config:
  clients:
    - url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push
 
  positions:
    filename: /run/promtail/positions.yaml
 
  scrape_configs:
    - job_name: kubernetes-pods
      kubernetes_sd_configs:
        - role: pod
      pipeline_stages:
        - cri: {}
        - json:
            expressions:
              level: level
              message: message
              service: service
              timestamp: timestamp
              method: method
              path: path
              statusCode: statusCode
              duration: duration
        - labels:
            level:
            service:
        - timestamp:
            source: timestamp
            format: "2006-01-02 15:04:05"
            fallback_formats:
              - RFC3339
        - output:
            source: message
      relabel_configs:
        - source_labels: ['__meta_kubernetes_pod_node_name']
          target_label: node
        - source_labels: ['__meta_kubernetes_namespace']
          target_label: namespace
        - source_labels: ['__meta_kubernetes_pod_name']
          target_label: pod
        - source_labels: ['__meta_kubernetes_pod_container_name']
          target_label: container
        - source_labels: ['__meta_kubernetes_pod_label_app']
          target_label: app
 
resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 128Mi

